table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
}

td,
th {
  border: 1px solid #918c8c;
  padding: 8px;
}

th {
  text-align: center;
  font-weight: 700;
}
