.list-wrapper {
  list-style: none;
  line-height: 24px;
}

.result-category {
  text-align: center;
}
.result-category span {
  color: blue;
}
.pagination {
  max-width: 700px;
  margin: 0 auto;
}

caption {
  margin-bottom: 16px;
}
